#test {
  margin-top: 20px;
}

.menu .title{
  cursor: pointer;
}

h4:before {
  content: '▶';
  padding-right: 6px;
  color: green;
}

.hidden {
  display: none;
  /*content: '▼';*/
}
